*{
    padding: 0;
    margin: 0;
}
#game{
    width: 500px;
    height: 200px;
    border: 1px solid black;
}
#charachter{
    width: 20px;
    height: 50px;
    background-color: violet;
    position: relative;
    top: 150px;

}
.animate{
    animation: jump 500ms ;
}
@keyframes jump{
    0%{top: 150px;}
    30%{top:100px}
    70%{top:100px}
    100%{top:150px}
}
#block{
    width: 20px;
    height: 20px;
    background-color: black;
    position: relative;
    top: 130px;
    left: 480px;
    animation: block 1s infinite linear;
}
@keyframes block{
    0%{left:480px}
    100%{left:-40px}
}
#charachter img {
    width: auto;
    height: auto;
}
button{
    width: 100px;
    height: 50px;
    background-color: violet;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    position: relative;
    top: 150px;
}